*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
margin-top: 20px;
display:flex;
flex-direction:column;
align-items: center;
}

h1{
padding: 15px;
}

.gridBtn {
padding: 10px;
margin-bottom: 15px;
}

.gridContainer{
display: flex;
/* adjust width depending on square size x16 */
width: 960px;
height: 960px;
flex-wrap:wrap;
}

.square{
/*border-style:dashed;*/
width: 60px;
height: 60px;
background-color:rgb(255, 255, 255);
border-style: dotted;
border-width: 1px;
border-color: rgb(173, 173, 173);
}