*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
margin-top: 70px;
display:flex;
flex-direction:column;
align-items: center;
}

h1{
padding: 15px;
}

.container{
display: flex;
/* adjust width depending on square size x16 */
width: 560px;
flex-wrap:wrap;
}

.square{
/*border-style:dashed;*/
width: 35px;
height: 35px;
background-color:rgb(255, 255, 255);
border-style: dotted;
border-width: 1px;
border-color: rgb(173, 173, 173);
}